@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --bg-secondary-color: #2C2C2C;
  --bg-primary-color: #e0e0e0;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: var(--bg-primary-color);
  }
} @layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded-4xl mb-4 outline-none;
  }
  .btn-primary {
    @apply w-full text-sm text-white p-3 rounded-4xl my-1 cursor-pointer shadow-2xl bg-green-600 transition hover:bg-green-800;
  }
  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer bg-green-600 hover:text-blue-500;
  }
  .input-label {
    @apply text-sm text-slate-400;
  }
  .bg-secondary {
    background-color: var(--bg-secondary-color);
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

input::-webkit-textfield-decoration-container {
  display: none !important;
}